.sidebar-container {
  display: flex;
  flex-direction: column;
}
.filters-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.filter {
  margin-bottom: 30px;
}
.recommended-art{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tip-filter-wrapper{
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 5px;
  margin-bottom: 12px;
}