.tips-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upper-tips-container {
  display: flex;
  flex-direction: row;
}
.tip-wrapper{
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  margin: 20px;
  margin-bottom: 70px;
}