* {
  box-sizing: border-box;
  direction: rtl;
  font-family: "Assistant", sans-serif;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}

.error-message {
  color: red;
  text-align: center;
  margin: 20px 0;
}