.about__us-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 50px 150px;
}
.about__us-right__block {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.about__us-right-img-cntnr {
  display: flex;
  width: auto;
  height: 500px;
  overflow: hidden;
}
.experience {
  height: 300px;
  padding: 10px;
}

.about__us-middle__block {
  margin-right: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.about__us-middle-img-cntnr {
  display: flex;
  width: auto;
  height: 500px;
  overflow: hidden;
}
.about__us-scd-middle-img-cntnr {
  display: flex;
  width: auto;
  height: 300px;
  padding-top: 10px;
  overflow: hidden;
}
.about__us-left__block {
  margin-right: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
}
.label {
  width: 60px;
  border-bottom: 2px solid rgb(255, 212, 59);
  font-size: 18px;
}
.info-title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about__us-info-container {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
  height: 300px;
}
.about__us-btn {
  background-color: rgb(24, 49, 83);
  color: white;
  font-size: 18px;
  border: none;
  width: 200px;
  padding: 10px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    border 0.3s,
    color 0.3s;
}
.about__us-btn:hover {
  background-color: transparent;
  color: rgb(24, 49, 83);
  border: 1px solid rgb(24, 49, 83);
}
.about__us-left-img-cntnr {
  display: flex;
  width: auto;
  height: 500px;
  padding-top: 30px;
  overflow: hidden;
}
.about__us-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .about__us-container {
    flex-direction: column;
    padding: 30px 20px;
  }

  .about__us-left__block {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about__us-middle__block {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about__us-right__block {
    width: 100%;
  }

  .about__us-left-img-cntnr,
  .about__us-middle-img-cntnr,
  .about__us-right-img-cntnr {
    height: 300px;
  }

  .about__us-scd-middle-img-cntnr {
    height: 200px;
  }

  .about__us-info-container {
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
  }

  .about__us-btn {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .about__us-container {
    padding: 20px 10px;
  }

  .about__us-left-img-cntnr,
  .about__us-middle-img-cntnr,
  .about__us-right-img-cntnr {
    height: 200px;
  }

  .about__us-scd-middle-img-cntnr {
    height: 150px;
  }

  .info-title {
    font-size: 16px;
  }
}
