.footer-container {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  background-color: white;
  align-items: center;
  border-top: 1px solid #dcdcdc;
}

.footer-columns {
  padding: 50px 200px;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  width: 76%;
}

.logo-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-column,
.second-column,
.third-column,
.forth-column {
  display: flex;
  flex-direction: column;
}

.footer-logo-wrapper {
  display: flex;
  width: 110px;
  height: 110px;
}

.footer-logo {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  object-fit: contain;
  align-items: center;
}

.footer-title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
}

.text-links-container {
  list-style-type: none;
}

.text-links {
  text-decoration: none;
  color: gray;
  transition: color 0.3s ease;
  padding-bottom: 5px;
}

.text-links:hover {
  color: rgb(255, 212, 59);
}

.social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
  font-size: 1.4rem;
  color: rgb(40, 46, 134);
  width: 140px;
}

.icon-footer {
  color: rgb(40, 46, 134) !important;
  cursor: pointer;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.contact-item {
  padding-right: 10px;
  color: gray;
  margin: 0;
}

.website-rights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin-bottom: 20px;
  margin-top: 0;
}

.conditions {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
