.reset-password-container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}
.recovery-password-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
 margin-top: 100px;
}
.reset-password-title {
  font-size: 36px;
  margin-bottom: 20px;
}
.reset-password-input-wrapper {
  width: 400px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.back-to-login-link {
  margin-top: 12px;
}
